/*label{*/
    /*display:inline;*/
/*}*/

.custom-label {
    vertical-align: middle;
    margin-right: 30px;
}

.right-column  {
    border-right: 1px solid black;
}

div.scrollmenu {
    overflow: auto;
}

div.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
