{% extends 'base.html' %}

{% load static %}
{% load jsx_compiler %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.standalone.min.css' %}">
{% endblock %}

{% block content %}
    <body ng-app="parserApp">
    <div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-6">
	              <!-- Logo -->
	              <div class="logo">
                      {% verbatim %}
                         <ul class="nav" ng-controller="currentLocationAppController" style="font-size: 20px; margin-top: 8px">
                            <!-- Main menu -->
                             <li style="margin-right: 20px;" ng-class="{current: $location.path() == '/'}"><a href="#/!" style="color: white">Результаты парсинга</a></li>
                             <li style="margin-right: 20px;" ng-class="{current: $location.path() == '/settings'}" class=""><a href="#!settings" style="color: white">Настройки</a></li>
                             <li ng-class="{current: $location.path() == '/admin'}" class=""><a href="#!admin" style="color: white">Пользователи</a></li>
                         </ul>
                      {% endverbatim %}
	              </div>
	           </div>
	           <div class="col-md-4">
	              <div class="row">
	                <div class="col-lg-12">
	                  <div class="input-group form">
	                       <span class="input-group-btn">
	                       </span>
	                  </div>
	                </div>
	              </div>
	           </div>
	           <div class="col-md-2">
	              <div class="navbar navbar-inverse" role="banner">
	                  <nav class=" navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	                    <ul class="nav navbar-nav">
	                      <li class="dropdown">
	                        <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.username }} <b class="caret"></b></a>
	                        <ul class="dropdown-menu animated fadeInUp" style="position: absolute">
	                          <li ng-controller="administratorProfileAppController">
                                  <a href="#!admin/profile">Profile</a>
                              </li>
	                          <li><a href="{% url 'logout' %}">Logout</a></li>
	                        </ul>
	                      </li>
	                    </ul>
	                  </nav>
	              </div>
	           </div>
	        </div>
	     </div>
	</div>

    <div class="page-content">
    	<div class="row">
{#		  <div class="col-md-2">#}
{#		  	<div class="sidebar content-box" style="display: block;">#}
{#                {% verbatim %}#}
{#                <ul class="nav" ng-controller="currentLocationAppController">#}
{#                    <!-- Main menu -->#}
{#                    <li ng-class="{current: $location.path() == '/'}"><a href="#/!"><i class=""></i> Parsing OLX</a></li>#}
{#                    <li ng-class="{current: $location.path() == '/admin'}" class=""><a href="#!admin"><i class="glyphicon glyphicon-home"></i> Administrators</a></li>#}
{#                </ul>#}
{#                {% endverbatim %}#}
{#             </div>#}
{#		  </div>#}
            <div class="col-md-12" ng-view>
		  </div>
        </div>
    </div>
    </body>
{% endblock content %}
{% block extra_js %}
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'locales/bootstrap-datepicker.ru.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% compiled_js %}
{% endblock %}
